.employer_search {
    text-align: center;
    width: 80%;
    display: block;
    margin: auto;
}

#employer_search_box {
    width: 100%;
}

.suggestion-item {
    text-align: left;
    user-select: none;
}

.suggestion-item:hover {
    background-color: #eeeeee;
}