body {
    background-color: #eefff5;
    margin: 50px;
}

nav {
    text-align: center;
    padding: 50px;
}

nav a {
    color: blue;
    padding: 7px;
    margin: 30px;
    text-decoration: none;
}

.employer_logo {
    padding-right: 20px;
    width: 16px;
    height: 16px;
}

h2 nav {
    display: inline-block;

    padding: 10px;
    font-size: 15px;
}

.employer_search {
    text-align: center;
    width: 80%;
    display: block;
    margin: auto;
}

#employer_search_box {
    width: 100%;
    border-radius: 5px;
    height: 20px;
    margin: 10px 0 0;
}

#employer_search_suggestions {
    background-color: #eeeeee;
    position: absolute;
    z-index: 2;
}

.suggestion-item {
    text-align: left;
    user-select: none;
}

.suggestion-item:hover {
    background-color: #eeeeee;
}

.valid_input {
    border: 3px solid green !important;
}

.invalid-input {
    border: 3px solid red !important;
}

.left_div {
    width: 45%;
    display: inline-block;
}

.right_div {
    width: 45%;
    margin-left: 5%;
    display: inline-block;
    vertical-align: top;
}

.review_item {
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px 0;
    background: rgba(0,100,100,0.1);
}